.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          %h1= t(:list) + t(:criterium, scope: 'activerecord.models')
      .card-content
        %ul.collection
          - @criteria.each do |criterium|
            %li.collection-item.avatar
              %i.material-icons.circle check_box
              %span.title="[#{criterium.criteria_group.name}] #{criterium.number}"
              %p=criterium.name
              .secondary-content
                %a{:href => criterium_path(criterium)}
                  %i.material-icons pageview
                %a{:href => edit_criterium_path(criterium)}
                  %i.material-icons edit
                %a{"href" => criterium_path(criterium), "rel" => "nofollow", "data-method" => "delete", "data-confirm" => t(:confirm_delete)}
                  %i.material-icons delete
      .card-action
        = link_to t(:new), new_criterium_path
