.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          %h1= t(:new) + t(:criterium, scope: 'activerecord.models')
      .card-content
        = render partial: 'form', locals: {back_link: criteria_path}
