%h1
  QBUS

%p
  = "สวัสดี คุณ #{@user&.name},"

%p
  กรุณาคลิกที่ลิงค์ด้านล่างเพื่อรีเซ็ตรหัสผ่านของคุณ:

= link_to "รีเซ็ตรหัสผ่านบัญชีผู้ใช้งาน www.qbusthailand.com", edit_password_reset_url(@user.reset_token, email: @user.email)

%p
  ลิงค์นี้จะหมดอายุภายใน 2 ชั่วโมง
  ถ้าคุณไม่ประสงค์จะรีเซ็ตรหัสผ่านของคุณ กรุณาอย่าคลิกที่ลิงค์ด้านบน
