.row
  .col.s12
    %table
      %thead
        %th= t :plate, scope: 'activerecord.attributes.car'
        %th= t :chassis, scope: 'activerecord.attributes.car'
        %th
        %th
      %tbody
        - @application.route.cars.each do |car|
          %tr
            %td= car.plate
            %td= car.chassis
            %td
            %td
    
