%h5 วิธีการสมัคร
%ul.collection
  %li.collection-item
    1. เลือกหมวดการเดินรถ
  %li.collection-item
    2. กรอกข้อมูลพื้นฐาน
  %li.collection-item
    3. กรอกข้อมูลรถ
  %li.collection-item
    4. ทำแบบประเมินตนเอง
