.row
  .col.s12
    .card
      .card-content
        .card-title
          %h4 ต่ออายุใบสมัคร
        เลือกใบสมัครที่ต้องการต่ออายุจากรายการใบสมัครด้านล่างนี้ แล้วกดปุ่ม "ต่ออายุ" เพื่อทำการสร้างใบสมัครสำหรับการต่ออายุโดยใช้ข้อมูลเดิมที่ได้กรอกไว้แล้ว
