:css
  .tabs .tab a:hover {
    background-color: rgba(38, 166, 154, 0.2);
    /*Custom Color On Hover*/
  }

  .tabs .tab a:focus.active {
    /*Custom Text Color While Active*/
    background-color: rgba(38, 166, 154, 0.8);
    /*Custom Background Color While Active*/
  }

  .tabs .indicator {
    /*background-color:#26a69a;*/
    background-color: black;
    /*Custom Color Of Indicator*/
  }
.row
  .col.s12
    = render "full_application"
