.row
  .col.s8.offset-s2
    .card
      .card-content.deep-purple
        .card-title.white-text
          %h4.white-text= t(:new) + t(:user, scope: 'activerecord.models')
      .card-content
        = render partial: 'form', locals: {back_link: users_path}
