.row
  .col.s6.offset-s3
    .card
      .card-content.deep-purple
        .card-title.white-text
          %h3= t(:new) + t(:attachment, scope: 'activerecord.models')
      .card-content
        = render partial: 'form', locals: {back_link: attachments_path}
