.row
  .col.s12
    .card
      .card-content
        .card-title= "แก้ไข#{t :criteria_group, scope: 'activerecord.models'}"
        = render partial: 'form', locals: {back_link: criteria_groups_path}
