
.row
  .col.s12
    .container
      .card-panel
        %h3= "สร้าง#{t :criteria_group, scope: 'activerecord.models'}ใหม่"
        = render partial: 'form', locals: {back_link: criteria_groups_path}

%p
