:plain
  $(".modal #app_id").val(#{@application.id});
  $(".modal #appointment_remark").val("#{@application.appointment_remark}");
  $(".modal #appointment_date").val("#{@application.appointment_date}");
