.row
  .col.s12
    .card
      .card-content
        ให้พิจารณาข้อมูลต่าง ๆ ของใบสมัคร และตรวจสอบเอกสารแนบได้แก่ สำเนาสัญญาหน้าแรก และ หนังสือยืนยันการสมัครเข้าร่วมโครงการ ถ้าหากข้อมูลทั้งหมดถูกต้อง ให้กดปุ่ม "ใบสมัครถูกต้อง" เพื่อยืนยันการสมัคร หรือกดปุ่ม "ใบสมัครไม่ถูกต้อง" เพื่อปฏิเสธใบสมัครและส่งใบสมัครกลับไปให้ผู็สมัครทำการแก้ไข
    .card
      .card-content
        = render partial: 'applications/application'
      .divider
      .card-action
        = link_to 'ใบสมัครถูกต้อง', confirm_process_register_path(@application,:confirmed), class: 'btn green'
        = link_to 'ใบสมัครไม่ถูกต้อง', confirm_process_register_path(@application,:rejected), class: 'btn btn-flat'
