.announcement {
  p {
    text-indent: 3rem;
    padding-top: 1rem;
  }
}

.bg {
  background: image-url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
