%footer.page-footer.footer.footer-static.footer-dark.gradient-45deg-indigo-purple.gradient-shadow.navbar-border.navbar-shadow
  .footer-copyright
    .container
      %span
        © 2019
        %a{:href => "https://www.dlt.go.th/", :target => "_blank"} Department of Land Transport
        All rights reserved.
      - #%span.right.hide-on-small-only
      - #  Design and Developed by
      - #  %a{:href => "https://ww.tri.chula.ac.th/", :target => "_blank"} Transportation Institute
