%footer.page-footer
  .footer-copyright
    .container
      © #{Time.current.year} Melvin Ch'ng
      .grey-text.text-lighten-4.right.footer-color
        %a{:href => "https://github.com/melvinchng/"}
          %i.fa.fa-github
          Github
        %a{:href => "https://www.linkedin.com/in/realmelvinchng"}
          %i.fa.fa-linkedin
          LinkedIn
        %a{:href => "https://plus.google.com/+YiCongChng"}
          %i.fa.fa-google-plus-official{:style => "vertical-align: middle;"}
          Google+
