/ Dropdown Structure
%ul#dropdown1.dropdown-content
  %li
    %a{:href => "#!"} one
  %li
    %a{:href => "#!"} two
  %li.divider
  %li
    %a{:href => "#!"} three
%nav
  .nav-wrapper
    %a.brand-logo{:href => "#!"} Logo
    %ul.right.hide-on-med-and-down
      %li
        %a{:href => "#"} Sass
      %li
        %a{:href => "#"} Components
      / Dropdown Trigger
      %li
        %a.dropdown-button{"data-activates" => "dropdown1", :href => "#!"}
          Dropdown
          %i.material-icons.right arrow_drop_down
