%header#header.page-topbar
  .navbar.navbar-fixed
    %nav.navbar-main.navbar-color.nav-collapsible.sideNav-lock.navbar-dark.gradient-45deg-indigo-purple
      .nav-wrapper
        /.header-search-wrapper.hide-on-med-and-down.center
        /  %i.material-icons search
        /  %input.header-search-input.z-depth-2{:name => "Search", :placeholder => "Explore Materialize", :type => "text"}/
        %a{href:"#{root_path}"}
          %span{style: 'font-size: 24px; padding: 22px 12px; margin-left: 275px;"'} โครงการรับรองมาตรฐานรถโดยสารสาธารณะ Q-BUS
        %ul.navbar-list.right
          /%li.hide-on-med-and-down
          / %a.waves-effect.waves-block.waves-light.translation-button{"data-target" => "translation-dropdown", :href => "javascript:void(0);"}
          /   %span.flag-icon.flag-icon-gb
          %li.hide-on-med-and-down
            %a.waves-effect.waves-block.waves-light.toggle-fullscreen{:href => "javascript:void(0);"}
              %i.material-icons settings_overscan
          %li.hide-on-large-only
            %a.waves-effect.waves-block.waves-light.search-button{:href => "javascript:void(0);"}
              %i.material-icons search
          %li
            /%a.waves-effect.waves-block.waves-light.notification-button{"data-target" => "notifications-dropdown", :href => "javascript:void(0);"}
            /  %i.material-icons
            /    notifications_none
            /    %small.notification-badge 5
          - if logged_in?
            %li
              %a.waves-effect.waves-block.waves-light.profile-button{"data-target" => "profile-dropdown", :href => "javascript:void(0);"}
                %i.material-icons person_pin
          - else
            %li
              %a.waves-effect.waves-block.waves-light.profile-button{:href => login_path}
                %i.material-icons input

        /  %li
        /    %a.waves-effect.waves-block.waves-light.sidenav-trigger{"data-target" => "slide-out-right", :href => "#"}
        /      %i.material-icons format_indent_increase
        / translation-button
        /%ul#translation-dropdown.dropdown-content
        /  %li
        /    %a.grey-text.text-darken-1{:href => "#!"}
        /      %i.flag-icon.flag-icon-gb
        /      English
        /  %li
        /    %a.grey-text.text-darken-1{:href => "#!"}
        /      %i.flag-icon.flag-icon-fr
        /      French
        /  %li
        /    %a.grey-text.text-darken-1{:href => "#!"}
        /      %i.flag-icon.flag-icon-cn
        /      Chinese
        /  %li
        /    %a.grey-text.text-darken-1{:href => "#!"}
        /      %i.flag-icon.flag-icon-de
        /      German
        / notifications-dropdown



        / notification dropdown
        /%ul#notifications-dropdown.dropdown-content
        /  %li
        /    %h6
        /      NOTIFICATIONS
        /      %span.new.badge 5
        /  %li.divider
        /  %li
        /    %a.grey-text.text-darken-2{:href => "#!"}
        /      %span.material-icons.icon-bg-circle.cyan.small add_shopping_cart
        /      A new order has been placed!
        /    %time.media-meta{:datetime => "2015-06-12T20:50:48+08:00"} 2 hours ago
        /  %li
        /    %a.grey-text.text-darken-2{:href => "#!"}
        /      %span.material-icons.icon-bg-circle.red.small stars
        /      Completed the task
        /    %time.media-meta{:datetime => "2015-06-12T20:50:48+08:00"} 3 days ago
        /  %li
        /    %a.grey-text.text-darken-2{:href => "#!"}
        /      %span.material-icons.icon-bg-circle.teal.small settings
        /      Settings updated
        /    %time.media-meta{:datetime => "2015-06-12T20:50:48+08:00"} 4 days ago
        /  %li
        /    %a.grey-text.text-darken-2{:href => "#!"}
        /      %span.material-icons.icon-bg-circle.deep-orange.small today
        /      Director meeting started
        /    %time.media-meta{:datetime => "2015-06-12T20:50:48+08:00"} 6 days ago
        /  %li
        /    %a.grey-text.text-darken-2{:href => "#!"}
        /      %span.material-icons.icon-bg-circle.amber.small trending_up
        /      Generate monthly report
        /    %time.media-meta{:datetime => "2015-06-12T20:50:48+08:00"} 1 week ago


        / profile-dropdown
        - if logged_in?
          %ul#profile-dropdown.dropdown-content
            %li
              %a.grey-text.text-darken-1{:href => profile_path}
                %i.material-icons portrait
                ข้อมูลผู้ใช้
            / %li
            /   %a.grey-text.text-darken-1{:href => "app-chat.html"}
            /     %i.material-icons chat_bubble_outline
            /     Chat
            / %li
            /   %a.grey-text.text-darken-1{:href => "page-faq.html"}
            /     %i.material-icons help_outline
            /     Help
            %li.divider
            / %li
            /   %a.grey-text.text-darken-1{:href => "user-lock-screen.html"}
            /     %i.material-icons lock_outline
            /     Lock
            %li
              %a.grey-text.text-darken-1{"href" => logout_path, "data-method" => "delete"}
                %i.material-icons keyboard_tab
                ออกจากระบบ
      /%nav.display-none.search-sm
      /  .nav-wrapper
      /    %form
      /      .input-field
      /        %input.search-box-sm{:required => "", :type => "search"}/
      /        %label.label-icon{:for => "search"}
      /          %i.material-icons.search-sm-icon search
      /        %i.material-icons.search-sm-close close
