%aside.sidenav-main.nav-expanded.nav-lock.nav-collapsible.sidenav-light.navbar-full.sidenav-active-rounded
  .brand-sidebar
    %h1.logo-wrapper
      %a.brand-logo.darken-1{:href => "index.html"}
        = image_tag "logo/materialize-logo.png", alt: 'logo'
        %span.logo-text.hide-on-med-and-down Q-Bus
      %a.navbar-toggler{:href => "#", data: {turbolinks: "false"}}
        %i.material-icons radio_button_checked
  %ul#slide-out.sidenav.sidenav-collapsible.leftside-navigation.collapsible.sidenav-fixed.menu-shadow{"data-collapsible" => "menu-accordion", "data-menu" => "menu-navigation"}
    %li.navigation-header
      %a.navigation-header-text ระบบงานหลัก
      %i.navigation-header-icon.material-icons more_horiz
    %li.bold
      %a.waves-effect.waves-cyan{:href => process_dashboard_path}
        %i.material-icons home
        %span.menu-title{"data-i18n" => ""} หน้าหลัก
    - if logged_in?
      %li.bold
        %span
          สวัสดี คุณ
          %a{:href => profile_path}
            =@current_user.name
      %li.navigation-header
        %a.navigation-header-text ระบบงานหลัก
        %i.navigation-header-icon.material-icons more_horiz
      %li.bold
        %a.waves-effect.waves-cyan{:href => apply_applications_path}
          %i.material-icons content_paste
          %span.menu-title{"data-i18n" => ""} สร้างใบสมัคร
      %li.bold
        %a.waves-effect.waves-cyan{:href => process_appointments_path}
          %i.material-icons chat_bubble_outline
          %span.menu-title{"data-i18n" => ""} นัดหมาย
      %li.bold
        %a.waves-effect.waves-cyan{:href => process_evaluations_path}
          %i.material-icons check
          %span.menu-title{"data-i18n" => ""} ประเมิน
      %li.bold
        %a.waves-effect.waves-cyan{:href => process_awards_path}
          %i.material-icons import_contacts
          %span.menu-title{"data-i18n" => ""} ตัดสินรางวัล
      %li.navigation-header
        %a.navigation-header-text จัดการข้อมูล
        %i.navigation-header-icon.material-icons more_horiz
      %li.bold
        %a.waves-effect.waves-cyan{:href => applications_path}
          %i.material-icons content_paste
          %span.menu-title=t(:application, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => licensees_path}
          %i.material-icons people
          %span.menu-titlet=t(:licensee, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => routes_path}
          %i.material-icons trending_up
          %span.menu-title=t(:route, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => cars_path}
          %i.material-icons directions_car
          %span.menu-title=t(:car, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => violations_path}
          %i.material-icons warning
          %span.menu-title=t(:violation, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => criteria_path}
          %i.material-icons check_box
          %span.menu-title=t(:criterium, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => criteria_groups_path}
          %i.material-icons spellcheck
          %span.menu-title=t(:criteria_group, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => evaluations_path}
          %i.material-icons playlist_add_check
          %span.menu-title=t(:evaluation, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => datafiles_path}
          %i.material-icons storage
          %span.menu-title=t(:datafile, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => logs_path}
          %i.material-icons library_books
          %span.menu-title=t(:log, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => users_path}
          %i.material-icons face
          %span.menu-title=t(:user, scope: 'activerecord.models')
      %li.bold
        %a.waves-effect.waves-cyan{:href => attachments_path}
          %i.material-icons attach_file
          %span.menu-title=t(:attachment, scope: 'activerecord.models')
      %li.navigation-header
        %a.navigation-header-text อื่น ๆ
        %i.navigation-header-icon.material-icons more_horiz
      %li.bold
        %a.waves-effect.waves-cyan{"href" => "logout", "data-method" => "delete"}
          %i.material-icons face
          %span.menu-title=t(:logout)
    - else
      %li.bold
        %a.waves-effect.waves-cyan{"href" => "login"}
          %i.material-icons face
          %span.menu-title{"data-i18n" => ""} เข้าสู่ระบบ

  .navigation-background
  %a.sidenav-trigger.btn-sidenav-toggle.btn-floating.btn-medium.waves-effect.waves-light.hide-on-large-only{"data-target" => "slide-out", :href => "#"}
    %i.material-icons menu
